/* font face */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


/* Browser Reset Code */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* typhogrphy */
.universal-btn {
    cursor: pointer;
    background-color: #FD6E0A;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 36px;
    border-radius: 5px;
}


/* header */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* nav */
.nav-logo {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
}

.text-oran {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 246px;
    padding: 50px 0px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {}

nav ul li:nth-child(2) {
    margin: 0px 51px;
}

nav ul li a {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}


/* banner */
.banner {
    margin: 0px 246px;
    display: flex;
    align-items: center;
}

.banner-article h5 {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-article h2 {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.banner-article p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #757575;
    margin-bottom: 30px;
}

.contact-btn {
    cursor: pointer;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 36px;
    border-radius: 5px;
    margin-left: 30px;
}

.image-box img {
    transform: translate(200px, 5px);
}

/* main */
main {
    margin: 0px auto;
    width: 1140px;
}


/*  about */
.about-me {
    margin: 130px 0px;
    padding: 131px 156px;
    background-color: #FFF8F3;
}

.about-text {
    text-align: center;
    margin-bottom: 50px;
}

.about-text h2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.about-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}


.about-address {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: normal;
}

.about-address p {
    font-weight: normal;
    color: #757575;
    margin-bottom: 8px;
}

.about-address h4 {
    font-weight: 600;
    color: #181818;
}

/* what i do */
.whati-do {
    margin-bottom: 130px;
}

.whati-do>.header {
    text-align: center;
    margin-bottom: 55px;
}

.whati-do>.header h2 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;

}

.whati-do>.header p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin: 0px 110px;
}

.whati-do>.cards {
    display: flex;
    justify-content: space-between;
}

.whati-do>.cards .card {
    padding: 30px;
    margin-right: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.whati-do>.cards .card img {
    margin-bottom: 30px;
}

.whati-do>.cards .card h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}

.whati-do>.cards .card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* my resume */

.my-resume {
    margin-bottom: 113px;
}

.resume {
    display: flex;
}

.resume-title {
    text-align: center;
    margin-bottom: 113px;
}

.resume-title h2 {
    font-weight: 700;
    font-size: 38px;
    color: #181818;
}

.education {
    margin-right: 24px;
}

.education .header,
.experience .header {
    margin-bottom: 30px;
}

.education .header h2,
.experience .header h2 {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}


.edu-card {
    border-bottom: 1px solid #dddcdc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.edu-card:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.edu-card h3 {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}

.edu-card h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #8a8a8a;
    margin-bottom: 15px;

}

.edu-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #b8b8b8;
    padding-right: 55px;
}

.download-cv {
    margin: 0px auto;
    margin-top: 50px;
    display: block;
}